@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html , 
body {
    font-family: 'Poppins' !important;
    width : 100%;
    height :100%;
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

.background-img {
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.logo {
    line-height: :40px;
    margin : 1.2em 0 0 2.2em;
    float : left;
    font-weight : bolder;
    color : #fff;
    cursor: pointer;
}

.nav {
    line-height: 40px;
    margin: 1.2em;
    position: absolute;
    right: 0;

}

.nav ul li {
    list-style: none;
    display: inline-block;
    color: #fff;
    padding-right: 36px;
}
.nav ul li a {
    text-decoration: none;
    color : #fff;

}
.nav ul li a:hover {
    color : #000;
    translate: 1s ease-in-out;
}
.nav .active {
    font-weight: bolder;
    color : rebeccapurple
}

.social-media {
    position: fixed;
    top : 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.social-media ul li {
    list-style: none;
    color : rebeccapurple;
    padding-top: 20px;
}

.social-media ul li a {
    color : rebeccapurple;
}

.social-media ul li a:hover {
    color : #000;
    transition: .7 ease-in;
}

.side-trip {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -2em;
    color : #fff;
    transform: rotate(90deg);
    letter-spacing: 4px;
    text-transform: uppercase;
}

.header {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top:38%;
    left : 46%;
    transform: translate(-50%, -50%);

}

.header h1 {
    color: #fff;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}



.header p {
    color : #fff;
    font-weight : lighter;

}

.header button {
    margin-top: 12px;
    border: none;
    padding : 16px 40px;
    background : #fff;
    color :#000;
    letter-spacing : 4px;
    font-weight : 600;
    font-size : 12px;
}

.header button:hover {
    background: #000;
    color : #fff;
    transition:  0.5s ease-in;
}

.bottom-bar {
    color : #fff;
    position : absolute ;
    bottom : 0;
    left : 0;
    right: 0;
}

 .row {
    padding: 2.6em 2.6em 2em 2.6em;
    background : rebeccapurple;  
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start ;
 }

 .row .col-lg-4 {
     text-decoration: none;
     color: #fff;
     display: inline-block;
 }

 .bottom-bar h6 {
     font-weight: bolder ;
     text-transform: uppercase;
 }

.bottom-bar p {
    float: right;
    font-size: 0.8em;
}

 .bottom-bar .imgs {
    height: 100px;
    width: auto;
 }

/* page 2  */

.main-bar {
    width: 100%;
    background: #fff;
    margin: 0;
    padding: 0;
    right: 0;
    left: 0;
}

.main-bar .main-container {
    max-width: 960px;
    padding: 0;
    margin: 0 auto
}
.row2 {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
}

.sale-off {
    height: 100px;
    padding: 2rem;
}

.sale-off .name-row {
    font-size: 1.2rem;
}

/* product */
.col-12 {
    display: flex;
    justify-content: space-around;
}
.product-row {
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.product {
    max-width: 200px;
    height: auto;
    text-decoration: none;

}
.card-name {
    font-size: 0.9rem;
    padding: 10px;
    margin: 0;
}
.card-price {
    color : red;
    margin: 0;
    padding-left: 10px;
}
.line {
    min-width: 1200px;
    height: 1px;
    background: rebeccapurple;
    margin-top: 40px;
}

/* album */
.collection-row {
    margin-top: 2rem;
    margin-bottom: 2rem;
    left: 0;
    font-size: 1.5rem;
}
.work .title-work {
    font-family: 'Poppins';
    font-weight: bolder;
    text-align: center;
    margin: 3rem 0;
    font-size: 1.7rem;
    text-transform: uppercase;
    opacity: .7;
  }
  .title-work span {
    color :#27ae60;
  }
  .project {
      display : block;
      width : 100%;
      text-decoration: none;
      margin : 1em 0;
      cursor: pointer;
  }
  figure {
      margin: 0;
      padding: :0;
  }
  h4{
    line-height: 0.2em;
    font-size: 0.8em;
  }
  .project figure img {
      width :100%;
      display: block;
      object-fit: cover;
      height: 300px;
  }
  .project figcaption {
      padding: 1em;
      background: #27ae60;
      color : #ecf0f1;
  }

  .project h3 {
      color : #ecf0f1;
      margin : 0;
  }

  .cta {
      font-size: 0.8em;
      margin: 0.5em 0;
      text-decoration: none;
      color: #e74c3c;
  }

  .cta::after {
      font-size: 1.3em;
  }
  

/* loading */
 .overlay {
     z-index: 1;
     position : absolute;
     width: 100%;
     height: 100vh;
     background: #fff;
     top : 0%;
 }

 .overlay h1 {
     position: absolute;
     top : 50%;
     left:50%;
     transform: translate(-50%,-50%);
     font-weight: bolder;
     font-size: 20px;
     letter-spacing: 12px;
 }

 /* footer */
 footer {
     margin-top : 20px;
     padding: 1rem;
     background: #0f3057;
     color : #fff;
     line-height: 30px;
 }
 .footer {
     display: flex;
    justify-content: space-between;
    width: 960px;
    align-content: flex-start;
    margin: 0 auto;
    height: 30px;
 }
 .social-media-footer ul {
     list-style: none;
     display: flex;
     flex-direction:row;

 }
 .social-media-footer ul li {
     width: 30px;
 }

 @media screen and (min-width: 1200px) {
    
    .nav-link {
        width : 30%;
    }
    .work {
        max-width: 1000px;
        margin: 0 auto;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap : 1em;

    }
   
    .project:nth-child(4) {
        grid-column: 1 / span 3;
    }
    .project {
        width : 100%;
        height: 300px;
        text-decoration: none;
        margin: 0;
    }
    .project figure{
        position: relative;
        overflow: hidden;
        
    } 
    .project figure img {
        position: relative;
        z-index: 3;
        transition: transfrom 1s ease;
    }
    .project figure:hover img {
        transform: translateY(-90px);
        transition: all 1s;
    }
    .project figcaption {
        position: absolute;
        left: 0;
        bottom: 0;
        padding : 20px;
        height: 55px;
        width: 100%;
    }
}


 @keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes mediaFade {
    from {
        opacity: 0;
        left: 0;
        transform: translateY(0px);
    }
    to {
        opacity: 1;
        left: 0;
        transform: translateY(-60px);
    }
}